**/*.DS_Store
**/*._*
release
debug
AugustusWindowsVersion/Release
AugustusWindowsVersion/Debug
/*.suo
/AugustusWindowsVersion.opensdf
/AugustusWindowsVersion.sdf
/AugustusWindowsVersion/AugustusWindowsVersion.vcxproj.filters
/AugustusWindowsVersion/OpenGL-Information.txt
/AugustusWindowsVersion/temp.awx
/AugustusWindowsVersion/AugustusWindowsVersion.vcxproj.user
